.ArtixBox{
    margin: 50px;
    elevation: 50px;
    background: white;
    flexDirection: 'colunm';

}

.contenido{
  text-align: center;
  padding: 15px;
   font-size: 15px;
}
.reacciones{
  width: 100%;
  display : -webkit-inline-flex;
  flex: 1;
  flex-direction: row;
  justify-content:  space-around;




}
.ContenedorArtistBox{

  display : -webkit-flex;


}
.CajaArtistBox{
  margin-top: 150px;

}
